fastapi
uvicorn
python-multipart
pydantic
python-dotenv
requests
beautifulsoup4
pypdf
streamlit

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-tavily
langgraph

faiss-cpu
sentence-transformers
